$red: #ca1f3d;
$yellow: #ffbe00;
$white: #ffffff;
$black: #25182e;

#header {
  height: 65px;
  width: 80%;
  background-color: $black;
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 1px solid $black;
  position: fixed;

  a {
    text-decoration: none;
    color: $yellow;
    font-size: 1.5rem;
    margin: 0px 50px;
    transition-duration: 0.5s;
  }

  svg {
    height: 80%;
    margin: 0px 50px;
    transition-duration: 0.5s;
  }

  svg:hover {
    transform: scale(1.2);
  }

  a:hover {
    transform: scale(1.5);
  }

  a:active {
    transform: scale(0);
  }
}

@media (max-width: 800px) {
  #header {
    width: 100%;
  }
}
